

body {
   font: 5em Helvetica;
  color: #333;
  background: #ECECEC;

  width:100%;
  height:100%;
}
.clear {
  clear: both;
}

.wrapper {
   
  width:100%;
  height:100%;
  align-self:center;
  align-content:center;
  padding-left:0px;
  padding-top:0px;
  padding-right:0%;
  margin-bottom:0px;
  align-items:center;
  
}

.container {
  margin:10% auto;
  width:100%;

  align-self:center; 
  align-content:center;

  
}
ul{
    width:100%;
    height:100%;
    padding:2% 2% 2% 2%;
    vertical-align:central;
    /*margin-bottom:15%;
    margin-top:10%;*/

}

.card {
    background:#FFF;
    border:2px inset #ccc;
    border-radius:8px;
    border-bottom:3px solid #BBB;
    background-color:green;
    padding:2%;
    margin:4%;
    overflow:hidden;
    text-align:center;
    width:40%;
    height:40%;
   
   
}

.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
    color:snow;
}

.card-image {
    width:100%;
    height:140px;
    padding:0px;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}
.image1 {
   background-image:url('../Images/AppIcons/home-insurance.png');
   background-repeat:no-repeat;
   background-position:center;
}
.image2 {
   background-image:url('../Images/AppIcons/trade-policy.png');
   background-repeat:no-repeat;
   background-position:center;
}
.image3 {
   background-image:url('../Images/AppIcons/Car-Insurance.png');
   background-repeat:no-repeat;
   background-position:center;
}
.image4 {
   background-image:url('../Images/AppIcons/heart.png');
   background-repeat:no-repeat;
   background-position:center;
}
.card-image .banner {
    height:5%;
    width:5%;
    top:0px;
    right:0px;
    background-position:top right;
    background-repeat:no-repeat;
    position:absolute;
    
}
.card-image h1, 
.card-image h2, 
.card-image h3, 
.card-image h4, 
.card-image h5, 
.card-image h6 {
    position:absolute;
    bottom:0px;
    width:100%;
    color:white !important;
    background:rgba(0,0,0,0.65);
    margin:0px;
    padding:6px;
    border:none;
}

.rightColumn,
.leftColumn {
    display:inline-block;
    width:40%;
    vertical-align:top;
}
