
body {
    max-width: 100%;
   font: 1em Helvetica;
}
#container {
  width: auto;
  margin: 1% auto;
}



.homeSuvidha {
  
  width: 100%;
  padding: 2% 2% 2% 2%;
  margin-right:2%;
  background-color: white;
  border-radius: 5px 0 0 5px;
  text-align: center;
}

.coverages select, .coverages input[type=number]{
    width:10%!important;
}

.coverages label{
    float:left ;
    width:60% ;
    word-wrap:break-word;
}

#twpQuote label{
    float:left ;
    word-wrap:break-word;
}

.coverages.k-widget.k-tooltip.k-tooltip-validation.k-x-invalid-msg-block
{
    display:none!important;
}

ul {
  list-style-type: none;
}

[type=text] {
  display: block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  padding:2%;
  line-height: 80%;  
  margin-bottom: 7%;
  font-size:22px;
  color: rgba(0,0,0,.4);
}
[type=email] {
  display: block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  line-height: 80%;  
  margin-bottom: 7%;
  font-size:22px;
  color: rgba(0,0,0,.4);
  padding:2%;
}
[type=number] {
  display: block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  line-height: 80%;  
  margin-bottom: 7%;
  font-size:22px;
  color: rgba(0,0,0,.4);
  padding:2%;
}
[type=tel] {
  display: block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  line-height: 80%;  
  margin-bottom: 7%;
  font-size:22px;
  color: rgba(0,0,0,.4);
  padding:2%;
}
[type=date] {
  display: block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  line-height: 80%;  
  margin-bottom: 5%;
  font-size:22px;
  color: rgba(0,0,0,.4);
  padding:2%;
}
[type=select] {
  display: block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  padding:2%;
  line-height: 80%;  
  margin-bottom: 7%;
  font-size:22px;
  color: rgba(0,0,0,.4);
}
.k-autocomplete {
  display: inline-block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  line-height: 80%;  
  margin-bottom: 5%;
  font-size: 1em !important;
  color: rgba(0,0,0,.4);
  padding:0%;
}
.name{
  width: 80%;
  font-size: 1em;
  color: rgba(0,0,0,.4);
  margin:1% auto;
}


[type='text']:focus {
  outline: none;
  border-color: #53CACE;
}
[type='date']:focus
{
    outline: none;
  border-color: #53CACE;
}
[type='email']:focus
{
    outline: none;
  border-color: #53CACE;
}
[type='number']:focus
{
    outline: none;
  border-color: #53CACE;
}
[type='tel']:focus
{
    outline: none;
    border-color: #53CACE;
}
.k-autocomplete:focus
{
  outline: none!important;
  border-color: #53CACE!important;
    border-left:none!important;
  border-right:none!important;
  border-top:none!important;
}
.k-state-focused > .k-link, .k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover {
  outline: none!important;
  border-color: #53CACE!important;
  border-left:none!important;
  border-right:none!important;
  border-top:none!important;
}
#HypothecatedToTWP:focus{
  outline: none!important;
  border-color: #53CACE!important;
  border-left:none!important;
  border-right:none!important;
  border-top:none!important;
}


    /*.k-autocomplete, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap {
  outline: none!important;
  border-color: #53CACE!important;
    }*/

    /*.k-state-hover {
  outline: none!important;
  border-color: #53CACE!important;
    }*/

    /*.k-state-focused {
  outline: none!important;
  border-color: #53CACE!important;
    }*/

h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
  
}

p {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
  margin: 2% 2% 2% 2%;
}



p:nth-of-type(2) {
  font-size: 1em;
}
.dropdown {
  display: block;
  margin: 1% auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 100%;
  line-height: 80%;  
  margin-bottom: 7%;
  font-size:22px;
  color: rgba(0,0,0,.4);
  padding:2%;
}
.dropdown:focus {
  outline: none;
  border-color: #53CACE;
}

/*------------------------------*/
table.gridtable {
	font-family: Helvetica;
	font-size:14px;
	color:#333333;
	border-width: 1px;
  margin-left: auto;
  margin-right: auto;
	border-color: #666666;
	border-collapse: collapse;
  width:80%;
  
}
table.gridtable th {
	border-width: 1px;
	padding:8px;
	border-style: solid;
	border-color: #666666;
	background-color:#0193CC;
  
    
}
table.gridtable td {
	border-width: 1px;
	padding:6px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
  text-align:left;
}
/* category 5 table*/
table.gridtableC5 {
	font-family: Helvetica;
	font-size:10px;
	color:#333333;
	border-width: 1px;
    margin-left: auto;
    margin-right: auto;
 	border-color: #666666;
	border-collapse: collapse;
    width:80%;
}
table.gridtableC5 th {
	border-width: 1px;
	padding:7px;
	border-style: solid;
	border-color: #666666;
	background-color:#0193CC;
}
table.gridtableC5 td {
	border-width: 1px;
	padding:5px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
    text-align:left;
  
}


/** calculate premium button**/
.main_btn {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-stretch:expanded;
	font-weight:bold;
	color: #f5f5f5;
	padding: 10px 8px;
    align-items:center;
	background: -moz-linear-gradient(
		top,
		#7badd9 0%,
		#105196);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1abc9c),
		to(#1abc9c));
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #10224d;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
		
	-webkit-animation-name: navigation;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: backwards;
	-webkit-animation-timing-function: linear;
	
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
	cursor:inherit;
}
.main_btn:hover {
background: -moz-linear-gradient(
		top,
		#1abc9c 0%,
		#1abc9c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1abc9c),
		to(#09315c));
}
.main_btn:focus, .main_btn:active {
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 11px rgba(28,3,28,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 11px rgba(28,3,28,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 11px rgba(28,3,28,0.7);
}

/** Add and Delete Members Button in IPF**/
.adddelbtn {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.adddelbtn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.editipfmemberbtn {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 0px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 10px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

.editipfmemberbtn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

  /*ul.slider{list-style:none;}
  .slide_gallery{
    position:relative;
    margin:15px auto;
    width:100%;
    height:auto;
    padding:0 20px; 
    background:#fff;
  }
  .slider_wrapper{
    position:relative;
    width:280px;
    height:300px;
    background:#eee;
    overflow:hidden;
  }
  .slider{
    position:absolute;
    width:99999px;
    left:0;
  }
  .slide{
    position:relative;
    float:left;
    width:280px;
    height:300px;
  }
  .btn{
    cursor:pointer;
    position:absolute;
    width:20px;
    height:100%;
  }
  .btn_left{
    left:0px;
    top:50%;
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  }
  .btn_right{
    right:25px;
    top:50%;
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  }*/
   /*.km-scrollview > div > [data-role=page] {
            /*This is to preserve whitespace. 
             Text will wrap when necessary, and on line breaks*/

      /*     white-space: pre-wrap;*/
            /*normal can also be used instead of pre-wrap*/
       /* }*/
   .ipcfplandetailsdiv{
       background-color:#cceeff;
       border-radius: 15px;
       padding-left:10px;
       padding-right:10px;
       font-size:4.2vw;
   }
      .ipfplandetailsdiv{
       padding-left:10px;
       padding-right:10px;
       font-size:3.5vw;
   }
   .plan{
       float:left;
       position:absolute;
   }

  .preIPF{
  width: 100%;
  padding: 2% 2% 2% 2%;
  margin-right:2%;
  background-color: white;
  border-radius: 5px 0 0 5px;
  }
   .premiumTWP{
  width: 100%;
  padding: 1% 1% 1% 1%;
  margin-right:1%;
  background-color: white;
  border-radius: 5px 0 0 5px;
  }
  #PremiumDetailsTWP .km-group-title{
  background-color:white;
  color:#0692C3;
  float:left;
  text-decoration:solid;
}
  

  #collapsibleIPFPrePremiumDetails >li> h1{
      background-color:#0692C3 !important;
  color:white !important;
       font-size: 1.2em; 
    position: -webkit-sticky;
     text-indent: 0; 
     margin-top: 0; 
     font-weight: 400; 
     border-bottom-width: 1px; 
     border-bottom-style: solid; 
     padding: 1.17em .84em .39em; 
}
 #collapsibleIPFPremiumDetails >li> h1{
      background-color:#0692C3 !important;
  color:white !important;
       font-size: 1.2em; 
    position: -webkit-sticky;
     text-indent: 0; 
     margin-top: 0; 
     font-weight: 400; 
     border-bottom-width: 1px; 
     border-bottom-style: solid; 
     padding: 1.17em .84em .39em;   
}
  #collapsibleMemberDetails >li> h1{
       background-color:#0692C3 !important;
  color:white !important;
       font-size: 1.2em; 
    position: -webkit-sticky;
     text-indent: 0; 
     margin-top: 0; 
     font-weight: 400; 
     border-bottom-width: 1px; 
     border-bottom-style: solid; 
     padding: 1.17em .84em .39em;

}

  #collapsibleEstimatePremium .km-group-title{
   background-color:#0692C3;
  color:white;
  }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
       opacity:  1;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

input[type=text],input[type=date],input[type=number],input[type=tel],input[type=email] {
 color:#404040;
}

.ipfPrePremiumdiv > li > span > label{
    font-size: initial !important;
}


/*.ipfpreplandetailsdiv{
    font-size: initial !important;
}*/

/*.ipfpreplandetailsdiv > li:first-child{
border:none;
}*/

/*#collapsibleVehicleOwnerDetailsTWP > small{
    float:left;
}*/

    #collapsibleJantaSurakshaMemberDetails .km-group-title{
  background-color:#0692C3;
  color:white;
}
    
#collapsibleJSPremiumDetails >li>h1{
       background-color:#0692C3 !important;
       color:white !important;
       font-size: 1.2em; 
       position: -webkit-sticky;
     text-indent: 0; 
     margin-top: 0; 
     font-weight: 400; 
     border-bottom-width: 1px; 
     border-bottom-style: solid; 
     padding: 1.17em .84em .39em;
}
    #JSPolicyDetails label{
        float:left ;
    word-wrap:break-word;
}
#JSInsuredDetails label{
        float:left ;
    word-wrap:break-word;
}
 .cardPD{
    background:#FFF;
    border:1px inset #ccc;
    border-radius:3px;
    border-bottom:3px solid #BBB;
    background-color: whitesmoke;
    padding:1%;
    margin:1% 0% 1% 0%;
    overflow:hidden;
    text-decoration-color: beige;
    text-align:center;
    width:100%;
    height:auto;
    float:left;
   
}
 #PremiumDetailsTWP h5{
     color:#0193CC;
 }
 #collapsibleJSBYCategoryDetails >li>h1{
        background-color:#0692C3 !important;
       color:white !important;
       font-size: 1.2em; 
       position: -webkit-sticky;
     text-indent: 0; 
     margin-top: 0; 
     font-weight: 400; 
     border-bottom-width: 1px; 
     border-bottom-style: solid; 
     padding: 1.17em .84em .39em;
     text-align:left;     
}
.productBtn {
    margin:2% 0.5% !important; 
    width:100%!important; 
    background:#0193CC!important;
    color:#fff!important;
}

.km-searchdate-e:after,
.km-searchdate-e:before
{
    /*content: "\e089";*/
    background-image:url(../images/search.png) !important;
    background-repeat:no-repeat !important;
}