<div data-role="view" data-reload="true" data-title="Saved Records" data-use-native-scrolling="true" data-show="app.models.SavedRecords.SavedRecordsView.onShow" data-model="app.models.SavedRecords.SavedRecordsView">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left" data-bind="{events:{click:backbtn}}">back</a>
            <span data-bind="text: viewModel.lang.saveRec.srec"></span>
        </div>
    </div>
    <ul data-role="listview" id="ulPolicyList" class="list-itgi listitemcolor" data-template="policyListTemplate" data-bind="{source: viewModel.dataSource,events:{click:onPreviewImage}}"></ul>
    <span class="no-item" data-bind="invisible:viewModel.hasItem"><span data-bind="text: viewModel.lang.saveRec.norec"></span></span>
    <script type="text/x-kendo-template" id="policyListTemplate">
        <div class="content">
            <span class="title">Record Id: #: data.Id # </span>
            <span class="title" data-bind="invisible:viewModel.date"><span data-bind="text: viewModel.lang.saveRec.date"></span>: #: data.DateCreated#</span>
            <small class="detail"><span data-bind="text: viewModel.lang.saveRec.name"></span>: #: data.Name #  </small>
            <small class="detail"><span data-bind="text: viewModel.lang.saveRec.addr"></span>: #: data.Address #</small>
            <small class="detail"><span data-bind="text: viewModel.lang.saveRec.invno"></span>: #: data.InvNo #</small>
            <small class="detail"><span data-bind="text: viewModel.lang.saveRec.mno"></span>: #: data.MobNo #</small>
            

        </div>
    </script>
</div>
